framework:
    secret: '%env(APP_SECRET)%'

    # Note that the session will be started ONLY if you read or write from it.
    session: true

    # Cache pools pour Doctrine
    cache:
        app: cache.adapter.filesystem
        system: cache.adapter.filesystem
        pools:
            doctrine.result_cache_pool:
                adapter: cache.app
            doctrine.system_cache_pool:
                adapter: cache.system

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file