
.contact-page {
    background-color: #F6F1EB;
    padding: 2rem 1rem;
    min-height: 100vh;
}

.contact-page h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #5C4033;
}

/* FORMULAIRE */
.contact-form {
    max-width: 900px;
    margin: 0 auto;
    background-color: #A28873;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px #2F2F2F;
    color: #F6F1EB;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea,
.form-select {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #F6F1EB;
    color: #5C4033;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #A28873;
}

.form-textarea {
    min-height: 120px;
    resize: vertical;
}

.form-select {
    cursor: pointer;
}

.form-radio {
    display: flex;
    gap: 1.5rem;
    font-family: 'Inter', sans-serif;
}

.form-radio input[type="radio"] {
    margin-right: 0.3rem;
    accent-color: #6B7B63;
}

/* BOUTON ENVOYER */
.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-submit {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    background-color: #5C4033;
    color: #F6F1EB;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background-color: #6B7B63;
}

.flash-message {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.flash-success {
    background-color: #6B7B63;
    color:  #F6F1EB;
    border: 1px solid #6B7B63;
    width: 90%;
}

.flash-error {
    background-color: #721c24;
    color: #F6F1EB; 
    border: 1px solid #721c24;
    width: 90%;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contact-form {
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .contact-form {
        padding: 1.5rem;
    }

    .form-radio {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }
}