/* login.css */
#login-container {
    background-color: #A28873;
    max-width: 450px;
    margin: 3rem auto;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px #2F2F2F;
    color: #F6F1EB;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#login-container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #F6F1EB;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #F6F1EB;
    color: #5C4033;
}

.form-group input::placeholder {
    color: #A28873;
}

/* Bouton de connexion */
form button[type="submit"] {
    display: block;
    margin: 1rem auto 0 auto;
}

button[type="submit"] {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    background-color: #5C4033;
    color: #F6F1EB;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background-color: #6B7B63;
}

/* Flash messages */
.flash-success,
.flash-error {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.flash-success {
    background-color: #6B7B63;
    color: #F6F1EB;
    border: 1px solid #6B7B63;
}

.flash-error {
    background-color: #721c24;
    color: #F6F1EB;
    border: 1px solid #721c24;
}

/* Liens sous le formulaire */
#login-container p {
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
}

#login-container a {
    color: #F6F1EB;
    text-decoration: underline;
}

#login-container a:hover {
    color: #5C4033;
    font-weight: bold;
}


/* Responsive */
@media (max-width: 600px) {
    #login-container {
        padding: 2rem;
        margin: 2rem 1rem;
    }
}