/* PAGE CGV */
.cgv-page {
    background-color:  #F6F1EB;
    padding: 2rem 1rem;
}

.cgv-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #A28873;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px #2F2F2F;
}

.cgv-container h1 {
    font-family: 'Playfair Display';
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #F6F1EB;
    text-align: center;
}

.cgv-container h2 {
    font-family: 'Playfair Display';
    font-size: 1.4rem;
    margin-top: 2.2rem;
    margin-bottom: 0.8rem;
    color: #F6F1EB;
}

.cgv-container h5 {
    font-family: 'Inter';
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    color: #F6F1EB;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.cgv-container p {
    font-family: 'Inter';
    font-size: 1rem;
    line-height: 1.5;
    color: #F6F1EB;
    margin-bottom: 1rem;
    text-align: justify;
}

.cgv-container ul {
    padding-left: 1.5rem;
    margin-bottom: 1.2rem;
    list-style: disc;
    color: #F6F1EB;
}

.cgv-container li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
    color: #F6F1EB;
    text-align: justify;
}

.cgv-container ul li::marker{
    color: #F6F1EB;
}

.cgv-container a {
    color: #F6F1EB;
    text-decoration: underline;
}

.cgv-container a:hover {
    color: #6B7B63;
    text-decoration: underline;
    font-weight: bold;
}

.cgv-footer {
    margin-top: 3rem;
    font-size: 0.95rem;
    color: #F6F1EB;
    border-top: 1px solid #F6F1EB;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cgv-footer a {
    color: #F6F1EB;
    text-decoration: underline;
}

.cgv-footer a:hover {
    color: #6B7B63;
    text-decoration: underline;
    font-weight: bold;
}

/* PAGE FAQ */
.faq-page {
    background-color: #F6F1EB;
    padding: 2rem 1rem;
}

.faq-container {
    max-width: 1200px; 
    margin: 0 auto;
    background-color: #A28873;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px #2F2F2F;
    color: #F6F1EB;
}

.faq-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.faq-item {
    margin-bottom: 1.8rem;
}

.faq-item h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.faq-item p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-left: 1rem;
}

.faq-footer {
    margin-top: 3rem;
    font-size: 0.95rem;
    color: #F6F1EB;
    border-top: 1px solid #F6F1EB;
    padding-top: 1.5rem;
    text-align: center;
}

.faq-footer h5 {
    font-family: 'Inter';
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    color: #F6F1EB;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.faq-footer a {
    color: #F6F1EB;
    text-decoration: underline;
}

.faq-footer a:hover {
    color: #6B7B63;
    text-decoration: underline;
    font-weight: bold;
}