{% extends 'base.html.twig' %}

{% block title %}Votre Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block content %}
<h1>Bienvenue {{ app.user.prenom }}</h1>

<div class="logout-container">
    <a href="{{ path('admin_logout') }}" class="logout-button">Déconnexion</a>
</div>

{% endblock %}